.section {
  padding-top: 60px;

  &__title {
    width: 258px;
    height: 70px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 1.17;

    color: #000000;
  }
}

.tickets {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 40px;
    border-radius: 15px;
    border: 1px solid #333333;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__user-label {
    margin-right: 20px;
    color: #fff;
  }
  &__completed {
    font-size: 24px;
    line-height: 1.17;
    cursor: pointer;

    color: #000000;
  }
}
.tickets__item,
.cards-set__item {
  align-items: center;
  padding: 33px 35px 34px;

  border-radius: 15px;
  border: 1px solid #333333;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
