.board {
  &__title {
    margin-bottom: 80px;
  }
  &__list {
    display: flex;
    // margin-left: -36px;
    margin-top: -36px;
    padding-bottom: 36px;
    border-radius: 15px;
    border: 1px solid #333333;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 36px;
    margin-top: 36px;
    flex-basis: calc(100% / 3 - 36px);
    padding-right: 36px;

    &:not(:last-child) {
      border-right: 1px solid #333333;
    }
  }
  &__item-title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.17;

    color: #000000;
  }
}
.cards-set {
  &__item {
    display: flex;
  }
}
